<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div style="width: 800px; margin: 0 auto;">
        <div style="text-align: center;">
            <img src="Jenkins_Fuck.png" alt="" style="width: 150px;">
            <h2 style="margin-top: 0;">CI Waiting list</h2>
        </div>
        <form action="app.php" method="get">
            <input type="hidden" name="action" value="create">
            <input class="inpute" name="username" type="text" placeholder="Name">
            <input class="inpute" name="url" type="text" placeholder="Pull Request URL">
            <button style="float: right;" class="ma-button" type="submit">Send to the CI MANAGER</button>
            <div style="clear: both;"></div>
        </form>

        <hr>

        <table id="app-4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Github URL</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>-</th>
                </tr>
            </thead>
            <tbody id="items">
                <tr v-cloak v-for="item in items">
                    <td v-bind:data-uuid="item.id" class="my-handle" style="cursor: grabbing;">{{ item.pos }}</td>
                    <td>{{ item.username }}</td>
                    <td><a target="_blank" :href="item.url">LINK</a></td>
                    <td>{{ item.date }}</td>
                    <td v-if="item.finished">✅</td>
                    <td v-if="!item.finished"><a class="ma-button action" :href="item.finishedAction" ><small>Mark as finished</small></a></td>
                    <td style="padding: 10px;"><a class="ma-button danger" :href="item.deleteAction" style="color: #e65b46;"><small>Delete</small></a></td>
                </tr>
            </tbody>
        </table>

        <blockquote v-cloak id="kaamelott">
            {{ text }}
            <cite>{{ perso }}</cite>
        </blockquote>
    </div>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.6.1/Sortable.min.js"></script>

    <script>
        $.get('app.php?action=quote').then((quote) => {
            console.log(quote);
            const kaamelott = new Vue({
                el: '#kaamelott',
                data: {
                    text: quote.citation.citation,
                    perso: quote.citation.infos.personnage
                }
            });
        });

        $.get('app.php?action=items').then((items) => {
            items = items.map((item) => {
                return $.extend(item, {
                    'deleteAction': 'app.php?action=delete&id=' + item.id,
                    'finishedAction': 'app.php?action=finished&id=' + item.id
                });
            }).sort(function(obj1, obj2) {
                return obj1.pos - obj2.pos;
            });

            console.log(items);

            const app4 = new Vue({
                el: '#app-4',
                data: {
                    items: items
                }
            });

            const el = document.getElementById('items');
            const sortable = Sortable.create(el, {
                handle: ".my-handle",
                onEnd: function (evt) {
                    applySort();
                },
            });
        });

        function applySort()
        {
            let ordersIds = {};

            $('.my-handle').each(function(index, element) {
                let id = $(element).data('uuid');
                ordersIds[id] = index;
            });

            $.post('app.php', {
                'action': 'sorted',
                'orders': ordersIds
            }).then(() => {
                location.reload();
            });
        }
    </script>
</html>
